@model IEnumerable<FredsBoats.Web.Models.Customer>
@{ ViewData["Title"] = "Customers"; }

<h1>Customer List</h1>
<p><a asp-action="Create" class="btn btn-success">Create New</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Telephone</th>
            <th>Licence</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Telephone</td>
            <td>@(item.Licence ? "✅ Yes" : "❌ No")</td>
        </tr>
}
    </tbody>
</table>